/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    /*  inherit will give us the flexibility to change to box-sizing property in any elemnt  */
    box-sizing: inherit;
}


/* font related styling is inherited that's why writing it in body */

html {
    /* default font size of browsers is 16px to 62.5% becomes 10px */
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}